.thankYou {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.thankYou div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  transform: translateX(70px);
}

.thankYou h2 {
  margin: 30px 0 10px;
  font-weight: 300;
  letter-spacing: .1em;
}

.thankYou p {
  color: #919193;
  margin-bottom: 40px;
}

.thankYou button {
  width: 350px;
  background-color: #220930;
  border-color: #220930;
  color: #fff;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 5px;
  font-size: 18px;
  text-transform: capitalize;
}

